/* =========================
														   PROJECT
												 ========================== */

/* ========================
	   MAIN ELEMENTS
 ======================== */

/* ===== Box-Sizing évite que les marges et les paddings augmentent la taille des box ===== */
* {
    box-sizing: border-box;
}

:root {
    --white: rgba(255, 255, 255, 1);
    --main-blue: rgba(37, 41, 52, 1);
}

/* ===== La combinaison de font-size permet de fixer le ratio pixels-->rem à x10 ===== */
html {
    font-size: 62.5%;
}

body {
    font-family: "piazzola";
    font-size: 1.6rem;
    margin: 0;
    background: linear-gradient(
        to left,
        rgba(234, 226, 192, 0.8),
        rgba(204, 184, 112, 0.6)
    );
}

/* ===== Permet que les images prennent toujours 100% de la taille de leur conteneur (évite les chevauchements) ===== */
img {
    max-width: 100%;
}

h1 {
    font-size: 3.2rem;
    text-transform: uppercase;
    text-align: center;
}

.bouton {
    color: var(--white);
    background-color: rgba(27, 36, 47, 1);
    padding: 0.5rem;
    margin: 1rem;
    font-size: 1.4rem;
}

.btn {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgba(247, 78, 44, 1);
}

.cursor_pointer {
    cursor: pointer;
}

.container {
    min-height: 60vh;
    padding: 0;
}

/* =======================
		TYPOGRAPHIES
 ======================= */

@font-face {
    font-family: "piazzola";
    src: url("../fonts/Piazzolla-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "parisienne";
    src: url("../fonts/Parisienne-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* =======================
	MAIN MENU - HEADER
 ======================= */

/* ==== SIDEBAR (MOBILE) ==== */

.nav-ori {
    width: 4rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    z-index: 11;
    padding: 0.1rem;
    border-radius: 3rem;
    border: 0.15rem solid rgba(234, 226, 192, 0.8);
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.7);
}

.nav-ori:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.mobile-header {
    height: 6rem;
    background-color: var(--main-blue);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-title {
    font-size: 3rem;
    text-transform: none;
    font-family: "parisienne";
}

.sidebar-overlay {
    display: none;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.overlay-activate {
    display: block;
}

.main-nav-sidebar {
    z-index: 11;
    position: fixed;
    height: 60vh;
    width: 60%;
    top: 0;
    left: 0;
    background-color: var(--main-blue);
    border-right: 0.1rem solid var(--white);
    border-bottom: 0.1rem solid var(--white);
    border-radius: 1rem;
    transform: translateX(-100%);
    transition: transform 0.4s;
}

.sidebar-activate {
    transform: translateX(0);
}

.main-nav-sidebar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Changement des <li> en block pour gérer l'affichage */
.main-nav-sidebar li {
    display: block;
    margin: 1.2rem 0;
}

.main-nav-sidebar a {
    text-decoration: none;
    color: var(--white);
    margin-left: 0.4rem;
}

/* Espacement des icones Fontawesome */
.main-nav-sidebar i {
    margin-right: 1rem;
}

.sidebar-header {
    text-align: center;
    font-family: "parisienne";
    background-color: rgba(30, 36, 44, 1);
    padding: 0.5rem;
    border-bottom: 0.2rem solid rgba(247, 78, 44, 1);
    color: var(--white);
    font-size: 2.5rem;
}

.main-nav {
    color: var(--white);
    text-transform: uppercase;
    background-color: rgba(27, 36, 47, 1);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    display: none;
}

.main-nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 0 2rem 0;
    margin: 0;
    list-style-type: none;
    margin-left: 1.5rem;
}

.main-nav-links i {
    margin-right: 1rem;
}

.main-nav a {
    color: var(--white);
    text-decoration: none;
}

.main-nav a:hover {
    color: rgba(247, 78, 44, 1);
}

/* ========================
	  		HOME
 ========================= */

.desktop-home {
    display: none;
}

/* MEDALLIONS */

.home-medallion {
    min-height: 25vh;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 3rem 0 0 2rem;
}

.home-medallion:nth-child(2) {
    justify-content: flex-end;
    margin: 3rem 2rem 0 0;
}

.medallion-title {
    text-align: center;
    font-family: "parisienne";
    font-size: 3.5rem;
    margin-left: 2rem;
}

.home-medallion:nth-child(2) .medallion-title {
    margin-left: 0;
    margin-right: 2rem;
}

.medallion-img {
    max-height: 8rem;
    max-width: 8rem;
    border-radius: 5rem;
    border: 0.6rem solid rgba(37, 41, 52, 0.9);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0.3rem;
}

.medallion-img:hover {
    box-shadow: 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

/* Affichage des informations détaillées */
/* Elles sont masquées par défaut et passent en display:block au survol de la section correspondante */

.hidden-about,
.hidden-projects,
.hidden-orienworld {
    display: none;
    margin: 0 1rem;
}

.display-about:hover .hidden-about {
    display: block;
}

.about-appear {
    animation: appear 2s;
}

.about-disappear {
    animation: disappear 2s;
}

.display-projects:hover .hidden-projects {
    display: block;
}

.display-orienworld:hover .hidden-orienworld {
    display: block;
}

.hidden-about h3 {
    margin-left: 2.5rem;
    font-size: 1.4rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn-medallion {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.horseblack-logo {
    width: 5rem;
    height: 5rem;
}

/* ========================
	  		ABOUT
 ========================= */

.about-card {
    display: flex;
    margin: 3rem auto;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0.5rem 0.5rem 1.5rem 0.8rem rgba(0, 0, 0, 0.7);
    max-width: 85%;
    border-radius: 2rem;
    position: relative;
}

.about-card-span {
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: -1rem;
    left: -1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.about-card-span::before {
    content: "Disponible";
    font-family: "parisienne";
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: var(--white);
    width: 150%;
    height: 3rem;
    background-color: var(--main-blue);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    position: absolute;
    transform: rotate(-45deg) translateY(-1.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-card-span::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    z-index: -1;
    background-color: var(--main-blue);
    box-shadow: 9rem -9rem var(--main-blue);
}

.about-img {
    max-height: 20rem;
    max-width: 20rem;
    border-radius: 1rem;
    padding: 0.3rem;
}

.about-download {
    position: relative;
    top: -1rem;
    margin-left: 2rem;
}

.teaching {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
}

.teaching h3,
.about-footer h3 {
    font-size: 2.4rem;
    margin: 1rem 0 1rem 1rem;
}

.teaching h4 {
    font-size: 1.8rem;
}

.teacher-shadow {
    max-width: 50%;
    max-height: 30rem;
}

.soft-skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
}

.soft-skills li {
    background-color: var(--main-blue);
    color: var(--white);
    padding: 1rem;
    border-radius: 1rem;
    margin: 0.5rem 1rem;
}

.teaching table {
    border-collapse: collapse;
    margin: 2.5rem 0 1.5rem 0;
}

.teaching table th {
    color: var(--white);
    background-color: var(--main-blue);
    padding: 1rem;
}

.teaching table td {
    padding: 1rem;
    border: 0.1rem solid var(--main-blue);
    background-color: rgba(255, 255, 255, 0.6);
}

.teaching li {
    margin-top: 1rem;
    list-style-type: none;
}

.myskills {
    padding-left: 3rem;
}

.myskills li::before {
    content: "✓";
    color: var(--main-blue);
    font-weight: bold;
    position: absolute;
    left: 2rem;
}

.devweb {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 1.5rem;
}

.devweb-shadow {
    max-width: 50%;
    max-height: 30rem;
}

.devweb table {
    margin: 1.5rem 0;
    border-collapse: collapse;
}

.devweb table th {
    color: var(--white);
    background-color: var(--main-blue);
    padding: 1rem;
    border: 0.1rem solid var(--main-blue);
}

.devweb table td {
    padding: 1rem;
    border: 0.1rem solid var(--main-blue);
    background-color: rgba(255, 255, 255, 0.6);
}

.devweb h3 {
    font-size: 2.4rem;
    margin: 1rem 0;
}

.devwebskills {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.devweb-logo {
    width: 8rem;
    height: 8rem;
    cursor: pointer;
    opacity: 0.8;
    padding: 1.5rem;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 2rem;
    box-shadow: 0.3rem 0.3rem 0.3rem var(--main-blue);
}

.devwebskills-container {
    width: 100%;
    height: 20rem;
    margin-bottom: 4rem;
}

.cloud-items-container {
    height: 100%;
}

.cloud-item-title {
    font-size: 2.2rem;
    color: var(--main-blue);
    text-align: center;
    height: 3rem;
}

.cloud9-nav {
    position: relative;
    text-align: center;
    bottom: 3rem;
}

.cloud9-nav button:focus {
    color: rgba(247, 78, 44, 1);
}

.devwebskills h4 {
    margin: 0.5rem;
}

.devwebskills h4:nth-child(1) {
    align-self: flex-start;
    margin-bottom: 1rem;
}

.about-contact {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.about-footer {
    margin-left: 1rem;
}

.about-footer p {
    margin: 1rem;
}

/* ==============================
	  PROJECTS AND PORTFOLIO
 ============================== */

/* PORTFOLIO */

#my-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio-category-title {
    font-family: "parisienne";
    font-size: 2.8rem;
}

.portfolio-category-title::before,
.portfolio-category-title::after {
    content: "~";
    font-family: "parisienne";
    font-size: 3rem;
    margin: 0 1rem;
}

.portfolio-card {
    width: 20rem;
    height: 50vh;
    border: 0.1rem solid var(--main-blue);
    box-shadow: 0.1rem 0.2rem 0.5rem var(--main-blue);
    background-color: rgba(37, 41, 52, 0.9);
    color: var(--white);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 2rem;
    text-align: center;
    cursor: pointer;
}

.card-front,
.card-back {
    width: 95%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    position: absolute;
    transition: transform 0.6s linear;
}

.card-front {
    transform: perspective(60rem) rotateY(0deg);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.portfolio-card-title {
    font-size: 1.8rem;
    margin-top: 0;
}

.card-front img {
    max-width: 90%;
}

.card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-back p {
    font-size: 1.4rem;
    padding: 0.5rem;
}

.card-back {
    transform: perspective(60rem) rotateY(180deg);
}

.portfolio-card:hover > .card-front {
    transform: perspective(60rem) rotateY(-180deg);
}

.portfolio-card:hover > .card-back {
    transform: perspective(60rem) rotateY(0deg);
}

.game-links {
    display: flex;
    margin: 2rem auto;
    justify-content: center;
}

/* TIC TAC TOE (MORPION GAME) */

.morpion-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 30rem;
    margin: auto;
}

#morpion-game p {
    text-align: center;
    font-size: 1.8rem;
}

.morpion-cell {
    border: 0.1rem solid var(--main-blue);
    height: 10rem;
    font-size: 7rem;
    font-weight: bold;
    color: var(--main-blue);
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

/* MEMORY */

.memory-game-container {
    display: flex;
    justify-content: center;
}

.memory-card-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 0 2rem 2rem 2rem;
    justify-content: center;
    perspective: 100rem;
}

.memory-card {
    position: relative;
    width: 10rem;
    height: 20vh;
    margin: 1rem;
    background-color: var(--main-blue);
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem var(--main-blue);
    transform-style: preserve-3d;
}

.memory-card-visible {
    animation: displaycard 0.6s forwards;
}

.memory-card-hidden {
    animation: hidecard 0.6s forwards;
}

@keyframes displaycard {
    0% {
        transform: rotateY(0);
    }

    10% {
        transform: rotateY(18deg);
    }

    20% {
        transform: rotateY(36deg);
    }

    30% {
        transform: rotateY(54deg);
    }

    40% {
        transform: rotateY(72deg);
    }

    50% {
        transform: rotateY(90deg);
    }

    60% {
        transform: rotateY(108deg);
    }

    70% {
        transform: rotateY(126deg);
    }

    80% {
        transform: rotateY(144deg);
    }

    90% {
        transform: rotateY(162deg);
    }

    100% {
        transform: rotateY(180deg);
    }
}

@keyframes hidecard {
    0% {
        transform: rotateY(180deg);
    }

    10% {
        transform: rotateY(162deg);
    }

    20% {
        transform: rotateY(144deg);
    }

    30% {
        transform: rotateY(126deg);
    }

    40% {
        transform: rotateY(108deg);
    }

    50% {
        transform: rotateY(90deg);
    }

    60% {
        transform: rotateY(72deg);
    }

    70% {
        transform: rotateY(54deg);
    }

    80% {
        transform: rotateY(36deg);
    }

    90% {
        transform: rotateY(18deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

@keyframes memoryCardDisappear {
    0% {
        opacity: 1;
    }

    10% {
        opacity: 0.9;
    }

    30% {
        opacity: 0.7;
    }

    50% {
        opacity: 0.5;
    }

    70% {
        opacity: 0.3;
    }

    90% {
        opacity: 0.1;
    }

    100% {
        opacity: 0;
    }
}

.memory-card-back,
.memory-card-front {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.memory-card-front {
    transform: rotateY(180deg);
}

/* PONG */

.pong-game {
    margin: 8rem auto 3rem auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pong-buttons {
    margin: 1rem auto;
}

#board {
    border: 2px solid black;
}

.score1 em,
.score2 em {
    color: #ff0000;
    font-weight: bold;
    display: block;
}

.contain-canvas {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* SNAKES AND LADDERS (WIP) */

.snakegame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.snakeboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    max-width: 60rem;
    margin: 2rem auto;
}

.snakecell {
    border: 0.1rem solid var(--main-blue);
    height: 6rem;
    width: 6rem;
    background-color: rgba(255, 255, 255, 0.6);
    color: var(--main-blue);
    text-align: center;
}

/* Création du dé */
.snake-aside {
    position: absolute;
    top: 50%;
    left: 10%;
    height: 25vmin;
    width: 35vmin;
    border: 0.2rem solid rgba(0, 0, 0, 1);
    background-color: rgba(84, 148, 84, 1);
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.snake-outer-dice {
    height: 8vmin;
    width: 8vmin;
    perspective: 30vmin;
    margin: auto;
}

.snake-inner-dice {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: all 750ms linear;
}

.snake-inner-dice div {
    height: 100%;
    width: 100%;
    position: absolute;
}

.front-dice {
    transform: translateZ(4vmin);
}

.back-dice {
    transform: rotateY(180deg) translateZ(4vmin);
}

.left-dice {
    transform-origin: left;
    transform: rotateY(-90deg) translateX(-4vmin);
}

.right-dice {
    transform-origin: right;
    transform: rotateY(90deg) translateX(4vmin);
}

.top-dice {
    transform: rotateX(-90deg) translateY(-4vmin);
    transform-origin: top;
}

.under-dice {
    transform: rotateX(90deg) translateY(4vmin);
    transform-origin: bottom;
}

/* Joueurs */

.snake-player {
    position: absolute;
    top: 80rem;
    left: 31.5%;
    height: 3vmin;
    width: 3vmin;
    border-radius: 50%;
    opacity: 0.7;
    transition-duration: 0.4s;
    transition-property: margin;
}

.snake-player:nth-child(1) {
    background-color: red;
}

.snake-player:nth-child(2) {
    background-color: blue;
}

.snakegame .btn {
    align-self: center;
}

/* SKI GAME (WIP) */

#skiboard {
    border: 0.1rem solid rgba(0, 0, 0, 1);
    width: 60%;
    height: 80vh;
    margin: 1rem auto;
    display: block;
    background-color: rgba(130, 238, 255, 0.6);
}

/* PONY ON FIRE */

.pony-container {
    margin: 6% 2rem 2rem 2rem;
    min-height: 70vh;
}

.btn {
    font-size: 1.5rem;
}

.pony-table th {
    text-align: center;
    background-color: rgb(255, 244, 184);
}

.form-control {
    font-size: 1.5rem;
}

/* TASKLIST VUE.JS */

.tasklist-container {
    margin: 1.5rem 1rem 1rem 1rem;
}

.tasklist-container h2 {
    margin-bottom: 1rem;
}

.checked {
    text-decoration: line-through;
}

/* ========================
		ORIENWORLD
 ========================= */

.sliders-container {
    width: 100%;
    max-height: 100vh;
}

.slider-mds-container,
.slider-irotia-container,
.slider-colossus-container {
    opacity: 0.9;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-mds-container {
    background: url("../img/fantasy-landscape.jpg");
    background-position: center;
    background-size: cover;
}

.slider-irotia-container {
    background: url("../img/futuristic-city.jpg");
    background-position: center;
    background-size: cover;
}

.slider-colossus-container {
    background: url("../img/roman-dessin.png");
    background-position: center;
    background-size: cover;
}

.slider-arrow-left,
.slider-arrow-right {
    position: absolute;
    top: 50%;
    color: var(--white);
    opacity: 0.6;
    cursor: pointer;
    transform: scale(1.5);
    font-size: 2rem;
}

.slider-arrow-left {
    left: 1rem;
}

.slider-arrow-right {
    right: 1rem;
}

.display-resume {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.7)
    );
    border: 0.1rem solid var(--main-blue);
    box-shadow: 0.2rem 0.5rem 0.5rem var(--main-blue);
    max-width: 80%;
    max-height: 60vh;
    overflow: auto;
    margin: auto;
    padding: 2rem;
    animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.9;
    }
}

.novel-container {
    min-width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.novel-title {
    font-size: 2.5rem;
    margin-top: 1rem;
}

.novel-copyright {
    font-size: 1rem;
    margin: 1.5rem;
    text-align: right;
}

.novel-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.novel-nav .btn {
    margin-left: 2rem;
    font-size: 1.3rem;
}

.novel-nav .btn:hover {
    color: rgba(247, 78, 44, 1);
    cursor: pointer;
}

.novel-previous,
.novel-next {
    font-size: 2.5rem;
    margin: 0 1rem;
}

.colossus-container,
.irotia-container,
.mds-container {
    display: flex;
    align-items: center;
}

.display-roman {
    display: flex;
    justify-content: center;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0.5)
    );
    border: 0.1rem solid var(--main-blue);
    box-shadow: 0.2rem 0.5rem 0.5rem var(--main-blue);
    max-width: 80%;
    height: 63vh;
    overflow: auto;
    margin: 2rem auto;
    padding: 2rem;
}

.display-roman h2,
.display-roman h3 {
    margin-bottom: 1rem;
    text-align: center;
}

/* Création d'un espace entre la fin du texte et l'encadré */
.display-roman p:last-child::after {
    content: "";
    height: 2rem;
    width: 100%;
    display: block;
}

.mds-poeme {
    text-align: center;
    font-style: italic;
}

.plume-ori {
    font-family: "parisienne";
    font-size: 3rem;
    color: rgba(178, 34, 34, 1);
    text-align: center;
    font-weight: bold;
}

.proclamation {
    text-align: center;
    cursor: pointer;
}

.galar {
    text-align: center;
    font-style: italic;
    line-height: 2.5rem;
}

.couverture-colossus {
    width: 100%;
}

.orimage-conclusion {
    display: block;
    max-width: 15rem;
    max-height: 15rem;
    margin-bottom: 2rem;
}

.novel-comments-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-blue);
    color: var(--white);
    max-width: 80%;
    padding: 1rem;
    margin: 2rem auto;
    border-radius: 2rem;
    box-shadow: 0.1rem 0.2rem 0.2rem var(--main-blue);
}

.novel-comments-form form {
    width: 100%;
}

.novel-form-group {
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    width: 90%;
}

.novel-form-group label {
    font-family: "parisienne";
    margin-bottom: 1rem;
    font-size: 2rem;
}

.novel-form-group textarea {
    min-height: 10rem;
}

.novel-comments-form button {
    margin: 2rem auto 1rem auto;
    display: block;
    padding: 0.5rem;
    font-weight: bold;
}

.novel-comments-form button:hover {
    color: rgba(247, 78, 44, 1);
}

.irotia-starmap {
    width: 100%;
    margin: auto;
    height: 100vh;
    background: url("../img/orienworld/deepspace.jpg");
}

.starmap-button {
    position: absolute;
    z-index: 3;
    top: 8rem;
    left: 1rem;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 1.3rem;
    color: var(--white);
    border-radius: 1rem;
    border: 0.1rem solid var(--white);
}

.starmap-planet {
    max-width: 10rem;
    position: absolute;
}

.starmap-planet:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.starmap-planet:nth-child(1) {
    top: 12%;
    right: 35%;
}

.starmap-planet:nth-child(2) {
    top: 50%;
    left: 35%;
}

.starmap-planet:nth-child(3) {
    top: 33%;
    left: 7%;
}

.starmap-planet:nth-child(4) {
    top: 29%;
    right: 5%;
}

.starmap-planet:nth-child(6) {
    bottom: 3%;
    right: 9%;
}

.starmap-planet:nth-child(5) {
    bottom: 8%;
    left: 11%;
}

.starmap-planet:nth-child(7) {
    top: 34%;
    right: 11%;
}

.planet-details {
    display: none;
    z-index: 1;
    background: linear-gradient(
        to left,
        rgba(234, 226, 192, 1),
        rgba(204, 184, 112, 0.8)
    );
    border-radius: 2rem;
    box-shadow: 1rem 1rem 1rem var(--main-blue);
    color: var(--main-blue);
    padding: 1rem;
    max-width: 50%;
    position: relative;
}

.planet-nom {
    font-weight: bold;
}

.planet-nom:first-letter {
    text-transform: uppercase;
}

.planet-resume {
    text-align: justify;
}

.close-details {
    position: absolute;
    font-weight: bold;
    font-size: 1.8rem;
    color: rgba(0, 0, 0, 1);
    z-index: 2;
    top: 1rem;
    right: 2rem;
}

.close-details:hover {
    cursor: pointer;
}

/* ============
	 REGISTER
 ============== */

.login-admin {
    width: 80%;
    margin: 4rem auto 4rem auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(37, 41, 52, 0.9);
    box-shadow: 0.2rem 0.2rem 0.2rem rgba(91, 79, 48, 0.8);
    border-radius: 1rem;
    color: var(--white);
    position: relative;
}

.login-title {
    text-align: center;
    margin: 2rem;
}

.logo-pony-container {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
}

.logo-pony-login {
    width: 65%;
    height: 65%;
    position: absolute;
    top: 7rem;
    margin: auto;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
}

.login-admin label {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    font-family: "parisienne";
}

.login-admin input {
    max-width: 90%;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

/* ============
	 CONTACT
 ============== */

.contact-prompt {
    color: var(--main-blue);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 1rem;
}

.contact-plum {
    max-width: 10rem;
    margin: auto;
    display: block;
}

.confirm-sending {
    color: var(--main-blue);
    font-weight: bold;
    text-align: center;
}

.form-contact {
    display: flex;
    flex-direction: column;
    margin: 1rem auto 2rem auto;
    position: relative;
    border-radius: 5rem;
    /* box-shadow: 0.2rem 0.5rem 2rem var(--main-blue); */
    max-width: 90%;
    min-height: 60vh;
    overflow: auto;
    padding: 1rem;
}

.form-contact input,
.form-contact-message {
    background-color: var(--main-blue);
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    padding: 1.2rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: var(--white);
}

.form-contact-message {
    min-height: 12rem;
}

.contact-btn {
    margin: 2rem auto 0 auto;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding: 1rem 1rem;
    width: 12rem;
    background-color: #252934;
    color: var(--white);
    bottom: -1rem;
    right: 1rem;
}

.contact-btn:hover {
    color: rgba(247, 78, 44, 1);
    cursor: pointer;
}

.contact-success {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
}

.contact-success .btn {
    margin: 1rem auto;
}

/* ====================
	ERROR 404 AND WIP
 ===================== */

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 70vh;
}

.error img {
    max-width: 30rem;
    border-radius: 4rem;
    box-shadow: 0 0.3rem 1rem var(--main-blue);
}

#work-in-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.wip-pic {
    max-width: 50%;
}

.wip-title {
    font-size: 2.8rem;
    margin-top: 0;
}

/* ============
	 FOOTER
 ============ */

.footer {
    background-color: var(--main-blue);
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--white);
    padding: 1rem;
    width: 100%;
}

.footer-title {
    font-size: 2rem;
}

.follow {
    font-size: 2.5rem;
    display: flex;
    justify-content: space-around;
    width: 45%;
    margin: 1.5rem 0.5rem;
}

.copyright {
    position: relative;
    z-index: 1;
    font-size: 1.4rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.copyright div {
    font-size: 1rem;
    position: absolute;
    top: -6rem;
    right: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.copyright div img {
    max-width: 7rem;
}

/* ====== MEDIA QUERIES ====== */

@media screen and (min-width: 700px) and (max-width: 1024px) {
    /* MAIN ELEMENTS */
    .container {
        margin: 0;
    }

    .main {
        width: 100vw;
    }

    /* SIDEBAR */

    .main-nav-sidebar {
        height: 75vh;
        width: 35%;
    }

    /* HOME */

    .desktop-home {
        display: flex;
        height: 50vh;
        justify-content: center;
        align-items: center;
    }

    .desktop-home svg {
        width: 50rem;
        height: 40rem;
    }

    .mask {
        fill: none;
        stroke: rgba(228, 217, 178, 1);
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }

    #L,
    #e,
    #s,
    #m,
    #o,
    #n,
    #mask-d1,
    #mask-d2,
    #e-2,
    #s-2,
    #mask-d3,
    #mask-d4,
    #_2,
    #O-2,
    #r,
    #i,
    #_dot,
    #e-3,
    #n-2,
    #mask-d5,
    #mask-d6,
    #o-3 {
        animation: strokeOffset 5s linear forwards;
    }

    @keyframes strokeOffset {
        to {
            stroke-dashoffset: 0;
        }
    }

    #mask-wave {
        animation: strokeOffset 4s linear forwards;
    }

    #main-plum {
        max-width: 25%;
        animation: fadeIn 3s linear both;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        40% {
            opacity: 0;
            transform: scale(0.2);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .desktop-title {
        font-family: "parisienne";
        text-transform: lowercase;
        font-size: 12rem;
    }

    .medallions-container {
        max-width: 85%;
        margin: 8rem auto;
    }

    .medallion-title {
        font-size: 5rem;
    }

    .medallion-img {
        max-height: 20rem;
    }

    /* ABOUT */

    .about-card {
        max-width: 60%;
    }

    .about-download {
        position: static;
        margin-left: 4rem;
    }

    .teacher-shadow {
        float: left;
    }

    .soft-skills {
        padding: 0;
        justify-content: flex-start;
    }

    .teaching p {
        margin-right: 1rem;
    }

    .teaching-main {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .teaching table {
        margin: 2rem;
    }

    .devweb-shadow {
        width: 50%;
        position: relative;
        top: -3rem;
    }

    .cloud-items-container {
        display: flex;
        justify-content: center;
        margin-left: -30rem;
    }

    .devweb-logo {
        width: 10rem;
        height: 10rem;
    }

    /* PORTFOLIO */

    .portfolio-card-container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .card-back p {
        font-size: 1.2rem;
    }

    /* ORIENWORLD */

    .slider-mds-container,
    .slider-irotia-container,
    .slider-colossus-container {
        background-size: cover;
        width: 100vw;
    }

    .novel-title {
        margin-bottom: 2rem;
    }

    .slider-arrow-right,
    .slider-arrow-left {
        margin: 0 3rem;
        font-size: 2.5rem;
        top: 55%;
    }

    .novel-next,
    .novel-previous {
        margin: 0 3rem;
    }

    /* LOGIN */

    .logo-pony-container {
        width: 100%;
        height: 8rem;
        display: flex;
        justify-content: center;
    }

    .logo-pony-login {
        width: 50%;
        height: 50%;
        position: absolute;
        top: 7rem;
        margin: auto;
    }

    /* CONTACT */

    .form-contact-message {
        min-height: 15rem;
    }

    .form-contact {
        margin-bottom: 4rem;
    }

    /* FOOTER */

    .footer-title {
        margin-left: 1rem;
    }

    .copyright {
        margin-left: 0;
    }

    .copyright p:nth-child(1) {
        margin-left: 0.05rem;
    }

    .copyright div {
        right: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .main {
        min-width: 100%;
        min-height: 100%;
    }

    /* NAV AND SIDEBAR */

    .main-nav-sidebar {
        display: none;
    }

    .nav-ori {
        display: none;
    }

    .main-nav {
        display: block;
    }

    .mobile-header {
        display: none;
    }

    /* HOME */

    .desktop-home {
        display: flex;
        height: 70vh;
        justify-content: center;
        align-items: center;
    }

    .mask {
        fill: none;
        stroke: rgba(228, 217, 178, 1);
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }

    #L,
    #e,
    #s,
    #m,
    #o,
    #n,
    #mask-d1,
    #mask-d2,
    #e-2,
    #s-2,
    #mask-d3,
    #mask-d4,
    #_2,
    #O-2,
    #r,
    #i,
    #_dot,
    #e-3,
    #n-2,
    #mask-d5,
    #mask-d6,
    #o-3 {
        animation: strokeOffset 5s linear forwards;
    }

    @keyframes strokeOffset {
        to {
            stroke-dashoffset: 0;
        }
    }

    #mask-wave {
        animation: strokeOffset 4s linear forwards;
    }

    #main-plum {
        max-width: 25%;
        animation: fadeIn 3s linear both;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        40% {
            opacity: 0;
            transform: scale(0.2);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    .desktop-title {
        font-family: "parisienne";
        text-transform: lowercase;
        font-size: 12rem;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .medallions-container {
        max-width: 95%;
        padding: 3rem;
        margin: 6rem auto 8rem auto;
        border: 0.1rem solid var(--main-blue);
        box-shadow: 0.4rem 0.2rem 1rem rgba(0, 0, 0, 0.8);
        background-color: rgba(255, 255, 255, 0.3);
    }

    .medallion-title {
        font-size: 6rem;
        margin: 0 5rem;
    }

    .home-medallion {
        margin-left: 4rem;
    }

    .home-medallion:nth-child(2) {
        margin-right: 4rem;
    }

    .home-medallion:nth-child(2) .medallion-title {
        margin: 0 8rem 0 0;
    }

    .medallion-img {
        transform: scale(2);
        margin-bottom: 2rem;
    }

    .hidden-about {
        margin: 4rem 0 5rem 2rem;
        display: block;
    }

    .hidden-about h3 {
        font-size: 1.8rem;
        position: relative;
        left: 3rem;
    }

    .btn-container {
        margin-top: 2rem;
        justify-content: center;
    }

    .hidden-about p,
    .hidden-orienworld p,
    .hidden-projects p {
        font-size: 1.8rem;
    }

    .hidden-about p:nth-child(3) {
        margin-bottom: 2rem;
    }

    .hidden-orienworld {
        margin-top: 2rem;
        margin-left: -1rem;
        display: block;
    }

    .hidden-projects {
        display: block;
        margin-bottom: 5rem;
    }

    .hidden-projects h3 {
        font-size: 2.3rem;
    }

    /* ABOUT */

    .about-container {
        max-width: 100%;
        margin: 10rem auto 4rem auto;
    }

    .about-card {
        max-width: 60%;
    }

    .about-download {
        top: 0;
        left: 2rem;
    }

    .teaching {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .teaching h3 {
        align-self: flex-start;
    }

    .teacher-shadow {
        width: 50%;
        max-height: 50rem;
        margin-right: 3rem;
        float: left;
    }

    .teaching-header {
        display: flex;
        align-items: center;
        max-width: 90%;
        margin-bottom: 2rem;
    }

    .teaching-header p {
        font-size: 1.7rem;
    }

    .teaching-main {
        display: flex;
        justify-content: space-between;
    }

    .soft-skills {
        justify-content: center;
    }

    .teaching table {
        margin-top: 6rem;
        margin-right: 2rem;
    }

    .myskills-container {
        background-color: rgba(255, 255, 255, 0.6);
        border: 0.1rem solid var(--main-blue);
        box-shadow: 0.2rem 0.5rem 0.5rem var(--main-blue);
        padding: 1rem;
    }

    .myskills-container h4 {
        text-align: center;
        font-size: 1.8rem;
        margin-top: 1rem;
    }

    .myskills li {
        position: relative;
    }

    .myskills li::before {
        left: -2rem;
    }

    .devweb {
        flex-direction: column;
    }

    .devwebmain {
        display: flex;
        align-items: center;
    }

    .devweb-shadow {
        width: 40%;
        max-height: 60rem;
        margin-right: 5rem;
    }

    .cloud-items-container {
        display: flex;
        justify-content: center;
        margin-left: -30rem;
    }

    .devweb-logo {
        width: 10rem;
        height: 10rem;
    }

    .about-footer h3 {
        font-size: 2.4rem;
        margin-left: 1.5rem;
    }

    .about-footer p {
        display: block;
        max-width: 85%;
        margin: auto;
    }

    .about-contact {
        max-width: 50%;
        margin: 2rem auto;
    }

    /* PORTFOLIO AND PROJETCS */

    #my-projects {
        margin: 7rem auto 3rem auto;
    }

    .portfolio-card-container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .portfolio-card {
        width: 25rem;
    }

    .card-back p {
        font-size: 1.5rem;
    }

    .morpion-game,
    .memory-game-section,
    .snakegame,
    .todolist-container {
        margin-top: 8rem;
    }

    .todolist {
        margin-left: 2rem;
    }

    .snakegame {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    /* ORIENWORLDS */

    .novel-title {
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

    .slider-arrow-left {
        left: 5rem;
        font-size: 3rem;
    }

    .slider-arrow-right {
        right: 5rem;
        font-size: 3rem;
    }

    .orienworld-resume {
        max-width: 85%;
        margin: auto;
    }

    .display-roman {
        height: 80vh;
    }

    .novel-previous,
    .novel-next {
        font-size: 4rem;
    }

    .titre-chapitre {
        margin-bottom: 4rem;
    }

    /* LOGIN FORM AND ADMIN */

    .login-admin {
        margin-top: 8rem;
        max-width: 45%;
        padding: 1rem 3rem;
    }

    .logo-pony-container {
        width: 100%;
        height: 8rem;
        display: flex;
        justify-content: center;
    }

    .logo-pony-login {
        width: 35%;
        height: 35%;
        position: absolute;
        top: 7rem;
        margin: auto;
    }

    .form-group {
        align-items: center;
    }

    .login-admin input {
        width: 75%;
    }

    .login-admin form {
        text-align: center;
    }

    .login-remember input {
        width: auto;
    }

    /* CONTACT */

    .form-contact {
        margin-bottom: 4rem;
        width: 80%;
    }

    .form-contact-message {
        min-height: 25rem;
    }

    .contact-prompt {
        margin: 8rem auto 2rem auto;
        font-size: 2.4rem;
    }

    /* ERROR 404 */

    .error {
        margin-top: 5rem;
    }

    .error p {
        font-size: 1.8rem;
    }

    /* FOOTER */

    .footer-title,
    .follow {
        margin-left: 3rem;
    }

    .footer-title {
        font-size: 3rem;
    }

    .follow {
        width: 25%;
        font-size: 3.5rem;
    }

    .copyright {
        font-size: 1.6rem;
    }

    .copyright p:nth-child(1) {
        margin-left: 2rem;
    }

    .copyright p:nth-child(2) {
        font-size: 1.3rem;
        position: relative;
        top: -2.5rem;
        right: 4rem;
    }

    .copyright img {
        top: -3rem;
        position: relative;
        right: 3rem;
    }
}

@media screen and (min-width: 1300px) {
    .container {
        min-height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .desktop-home {
        height: 90vh;
    }

    .desktop-home svg {
        height: 100rem;
        width: 80rem;
    }

    .portfolio-card {
        width: 25rem;
    }

    .card-back p {
        font-size: 1.6rem;
    }

    .card-back .btn {
        font-size: 2rem;
    }

    .portfolio-card-title {
        font-size: 3.2rem;
    }

    #morpion-game {
        min-height: 60vh;
        display: flex;
        flex-direction: column;
    }

    .slider-arrow-left,
    .slider-arrow-right {
        color: var(--main-blue);
        opacity: 1;
    }

    .irotia-starmap {
        width: 120vw;
        position: relative;
        left: -30rem;
        background-position: center;
    }

    .starmap-button {
        left: 5%;
        z-index: 0;
    }
}

@media screen and (max-width: 390px) {
    .mobile-title {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 370px) {
    .mobile-title {
        font-size: 2.2rem;
    }

    .follow a {
        font-size: 2rem;
    }

    .copyright img,
    .copyright p:nth-child(2) {
        position: relative;
        right: -2rem;
    }

    .copyright p:nth-child(1) {
        font-size: 1.3rem;
    }
}
